{
  "subscription_id": "<azure-subscription-id>",
  "resource_group_name": "rg-petclinic-rehost-dev",
  "location": "centralus",
  "workload_name": "petclinic-rehost",
  "admin_username": "azureuser",
  "ssh_public_key": "ssh-rsa REPLACE_WITH_PUBLIC_KEY petclinic-rehost",
  "admin_source_ip": "<trusted-admin-public-ip-cidr>",
  "http_source_ip": "0.0.0.0/0",
  "vm_size": "Standard_D2s_v3",
  "repo_url": "https://github.com/ravikumarkotapati/spring-petclinic.git",
  "repo_branch": "main",
  "app_port": 8081,
  "active_profile": "h2",
  "datasource_url": "not-configured",
  "datasource_username": "not-configured",
  "datasource_password": "not-configured",
  "enable_vm_backup": true
}
