.git
.github
.gradle
.idea
.terraform
.vscode
build
target
out
bin
docs
evidence
infra
inventory
scripts
*.log
*.tmp
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
.env
