APP_HOST_PORT=8081
IMAGE_REPOSITORY=petclinic
IMAGE_TAG=module5-local

POSTGRES_DB=petclinic
POSTGRES_USER=petclinic
POSTGRES_PASSWORD=replace-with-local-development-password
POSTGRES_HOST_PORT=5432

MYSQL_DATABASE=petclinic
MYSQL_USER=petclinic
MYSQL_PASSWORD=replace-with-local-development-password
MYSQL_ROOT_PASSWORD=replace-with-local-root-password
MYSQL_HOST_PORT=3306

APP_EXTERNAL_API_BASE_URL=
APP_TLS_ENABLED=false
APP_TLS_KEYSTORE_PATH=
APP_TLS_KEYSTORE_PASSWORD=
FEATURE_EXPERIMENTAL_UI=false
