subscription_id            = "00000000-0000-0000-0000-000000000000"
resource_group_name        = "rg-petclinic-config-dev"
location                   = "centralus"
name_prefix                = "petclinic-config"
environment                = "prod"
container_app_principal_id = "00000000-0000-0000-0000-000000000000"
key_vault_uri              = "https://petclinicdbqevd19kv.vault.azure.net/"
